<div class="filter">
    <div>
        <h4>Цена</h4>
        <div class="price_input">
            <input class="min-price" [(ngModel)]="minPrice" placeholder="Минимальная" min="0" max="100000">
            <input class="max-price" [(ngModel)]="maxPrice" placeholder="Максимальная" min="0" max="100000">
        </div>
    </div>
    <div>
        <h4>Жанры</h4>
        <div *ngFor="let option of options">
            <input type="checkbox" [(ngModel)]="option.checked">
            {{ option.label }}
        </div>
    </div>

    <div>
        <h4>Возрастные ограничения</h4>
        <input type="checkbox" id="myCheckbox" name="myCheckbox" [(ngModel)]="showAdultContent">
        Скрыть игры с неприемлемым контентом

    </div>



    <button class="filter_btn" (click)="applyFilters()">Применить</button>
    <button class="filter_btn" (click)="resetFilters()">Сбросить фильтры</button>
</div>