.card {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    color: #eee;
    min-width: 10vw;
    border-radius: 2px;
    border: 4px solid blueviolet;
    border-radius: 20px;
}

.card:hover {
    background-color: #eee;
    cursor: pointer;
    color: rgb(245, 193, 247);

}

.img {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
}

h5 {
    text-align: center;
    color: black;
    margin-bottom: 0;
}

h4 {
    color: black;
    margin-bottom: 0;
}